<form #pickupForm="ngForm">
    <div class="d-flex d-flex-row">
        <div class="p-2">
            <ngb-datepicker #dp [(ngModel)]="pickupFormData.date" name="date"></ngb-datepicker>
        </div>
        <div class="flex-fill">
            <div class="form-group">
                <label for="picker">Name</label>
                <input type="text" class="form-control" name="picker" id="picker" [readonly]="submitted" required [(ngModel)]="pickupFormData.picker">
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <input type="text" class="form-control" name="status" id="status" [readonly]="submitted" [(ngModel)]="pickupFormData.status">
            </div>
            <div class="form-group">
                <button *ngIf="!submitted" (click)="onSave()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
    <div class="d-flex d-flex-row">

    </div>
</form>
<h2>Orders</h2>