<form *ngIf="!loading" #pickupForm="ngForm">
    <div class="d-flex d-flex-row">
        <h2>Pickup information</h2>
    </div>
    <div class="d-flex d-flex-row">
        <div class="p-2">
            <ngb-datepicker #dp [(ngModel)]="pickupFormData.date" name="date"></ngb-datepicker>
        </div>
        <div class="flex-fill">
            <div class="form-group">
                <label for="picker">Name</label>
                <input type="text" class="form-control" name="picker" id="picker" [readonly]="!creating" required
                    [(ngModel)]="pickupFormData.picker">
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <input type="text" class="form-control" name="status" id="status" [readonly]="!creating"
                    [(ngModel)]="pickupFormData.status">
            </div>
            <div class="form-group">
                <button *ngIf="creating" (click)="onSave()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
    <div class="d-flex d-flex-row" *ngIf="!creating">
        <h2>Orders</h2>
        <a class="btn btn-primary" [routerLink]="['/pickups', pickupFormData.id, 'orders', 'new']">Place order</a>
    </div>
    <div class="d-flex d-flex-row" *ngIf="!creating">
        <div class="d-flex d-flex-row">
            <div class="col-md-12">
                <table>
                    <thead>
                        <tr>
                            <th>Eater</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let orderFormData of ordersFormData">
                            <td>{{orderFormData.eater}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>